.note{
  background-color: black;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.note:hover{
  background-color: #2F2F33;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.note .note_txt{
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase; 
}

.nav{
  height: 20px;
  padding: 22px 36px;
  display: flex;    
  justify-content: space-between;
  align-items: center;
}

.logo{
  text-indent: -9999px;
  width: 53px;
  background: url(./image/logo_h1.svg) no-repeat;
}
.nav_list{
  display: flex;
}
.nav_link{
  margin: 0 10px;
  font-size: 12px;
}

.visual{
  background: url(./image/background01.jpeg) no-repeat;
  background-size: cover;
  min-height: 640px;
  text-align: center;
}
.visual_txt{
  color: white;
  font-size: 80px;
  font-weight: 300;
  padding-top: 150px;
}
.visual_link{
  cursor: pointer;
  display: inline-block;
  background-color: white;
  width: 300px;
  height: 60px;
  line-height: 60px;
  margin-top: 50px;
}
.visual_link_text{
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.visual_link_text img{
  padding-left: 10px;
}

.logo_list{
  display: flex;
  height: 50px;
  padding: 30px 0;
  justify-content: space-evenly;
}

.logo_list .logo_img{
  margin: 10px;
}

.logo_list .logo_img img{
  max-width: 110px;
  opacity: 0.3;
  vertical-align: -webkit-baseline-middle;
}


/* footer */
